name: Notify issue

on:
 issues:
  types: [opened]
  
jobs:
  notify_slack:
    runs-on: ubuntu-latest
    steps:
      - uses: appleboy/discord-action@master
        with:
         webhook_id: ${{ secrets.WEBHOOK_ID }}
         webhook_token: ${{ secrets.WEBHOOK_TOKEN }}
         message: "`${{ github.event.issue.user.login }}` created an Issue.\n **${{ github.event.issue.title }}**` \n ${{ github.event.issue.body }}"
